*{
  padding: 0;
  margin: 0;
}

.container{
  height: 100vh;
  display: flex;
  background: #000;
  overflow: hidden;
}
img{
  width: 30%;
}
.wrapper{
  width: 35%;
  height: 40%;
  background: white;
  border-radius: 5px;
  display: flex;
  
  align-items: center;
  margin: auto;
  flex-direction: column;
}
h1{
  font-size: 2rem;
  font-weight: 600;
  color: #445a6f;
  margin: 1.5rem 0;
}
button{
  width: 10rem;
  padding: .7rem;
  border-radius: 5px;
  outline: none;
  border: none;
  margin: 2rem 0;
  background: #445a6f;
  color: white;
  cursor: pointer;
  
}

@media screen and (max-width: 600px){
  .wrapper{
    width: auto;
  }
  .a{
 max-width: fit-content;
  
  }
  img{
    width: 0
  }
}